.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ff00bb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid cyan; /* Borde azul para replicar el diseño */
}

.title {
  font-family: 'Press Start 2P', cursive; /* Fuente estilo retro */
  color: black;
  font-size: 24px;
  text-shadow: 2px 2px 0px white, -2px -2px 0px white; /* Sombra para el efecto retro */
}

.user-menu {
  display: flex;
  gap: 10px; /* Espacio entre botones */
}

.header-button {
  font-family: 'Press Start 2P', cursive; /* Fuente estilo retro */
  font-size: 12px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Botón de signup */
.signup-button {
  background-color: #af0063;
  color: white;
  box-shadow: 0 2px 0px #6c003d; /* Sombra para efecto de profundidad */
}

.signup-button:hover {
  transform: translateY(-2px); /* Efecto de hover */
  box-shadow: 0 4px 0px #6c003d;
}

/* Botón de login */
.login-button {
  background-color: #fbb1bd;
  color: #6e6e6e;
  box-shadow: 0 2px 0px #d88798; /* Sombra para efecto de profundidad */
}

.login-button:hover {
  transform: translateY(-2px); /* Efecto de hover */
  box-shadow: 0 4px 0px #d88798;
}
