.App {
  margin-top: 100px;
  text-align: center;
}

.profile-container {
  padding-top: 80px; 
}

.menu-button {
  background-color: rgb(255, 212, 239);
  color: #7d004b;
  left: 10px;
  top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: absolute;
}

.menu-button:hover {
  background-color: #ffffff; /* Lighter pink background on hover */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  background-color: #ff00bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0;
}

.title {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 15px auto;
}

.user-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
}

.avatar-container {
  margin-left: 10px;
}

.user-avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.auth-buttons {
  position: absolute;
  top: 20px;
  right: 25px;
  display: flex;
  gap: 15px; /* Espaciado entre los botones */
}

.signup-button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #2004bf;
  color: white;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #0ad95d;
}

.login-button {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #FBB1BD;
  color: #6E6E6E;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ffdbe1;
}

.game-container {
  display: flex;
  justify-content: center; /* Alinea los elementos a la izquierda */
  align-items: center;
  margin-top: 20px;
  padding-left: 20px; /* Espaciado desde el borde izquierdo */
}

.game-card {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-right: 20px; /* Espaciado entre los botones */
}

.spaceinvaders-button,
.tetris-button,
.tik-tak-toe-button,
.fix-it-felix-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que los bordes redondeados recorten el contenido */
  padding: 5px; /* Espaciado interno */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efectos de transición */
}

.game-container button.spaceinvaders-button:hover,
.game-container button.tetris-button:hover,
.game-container button.tik-tak-toe-button:hover,
.game-container button.fix-it-felix-button:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}


.spaceinvaders-button img,
.tetris-button img,
.tik-tak-toe-button img,
.fix-it-felix-button img {
  border-radius: 15px; 
  display: block;
  width: 150px;
  height: auto;
}

.game-info {
  margin-top: 10px;
  font-size: 14px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding-left: 20px;
}

.info-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  text-align: left;
  max-width: 300px;
}

.info-card h3 {
  color: #252525;
  margin-top: 0;
}

.info-card p {
  color: #343434;
  line-height: 1.5;
}