/* Estilo para el Footer */
.footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;  /* Fondo oscuro */
    color: rgb(255, 255, 255);            /* Texto blanco */
    text-align: center;      /* Centra el texto */
    padding: 10px 0;         /* Espaciado */
    font-size: 14px;         /* Tamaño de fuente */
    z-index: 1000;           /* Asegura que esté por encima del contenido */
  }
  

  .App-main {
    flex: 1; /* Esto hace que el main ocupe el espacio disponible y empuje el footer al fondo */
  }
  