/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #cfcfcf;
}

.profile-container {
  max-width: 800px;
  margin: 100px auto;
  padding: 10px;
}

/* Header styles */
.profile-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px 3px #5C5C5C;
  margin-bottom: 20px;
}

.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-username {
  font-size: 1.5rem;
  font-weight: light;
  color: #000000;
}

/* Section container styles */
.profile-section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 20px 3px #5C5C5C;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-section-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 15px;
  border-bottom: 1px solid #787878;
  padding-bottom: 5px;
}

/* Achievements styles */
.profile-achievements {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.achievement {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for better layout */
}

.achievement-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.achievement-details {
  margin-left: 10px;
}

.achievement-title {
  font-size: 1rem;
  font-weight: bold;
}

.achievement-description {
  font-size: 0.9rem;
  color: #666;
}

/* Liked Games styles */
.profile-games {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.game {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for better layout */
}

.game-image {
  width: 50px;
  height: 50px;
}

.game-details {
  display: flex;
  flex-direction: column;
}

.game-title {
  font-size: 1rem;
  font-weight: bold;
}

.game-rating {
  font-size: 0.9rem;
  color: #555;
}

/* Points styles */
.profile-points {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #666;
  height: 50px; /* Fixed height for better alignment */
}
