.space-invaders-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    flex-direction: column;
  }
  
  .game-intro {
    text-align: center;
  }
  
  .play-button {
    background-color: #ff00bb;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  .play-button:hover {
    background-color: #9e0059;
  }
  
  .game-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
  }
  